language: node_js
node_js:
- '7'
cache:
  directories:
  - tests/elm-stuff/build-artifacts
  - sysconfcpus
install:
    - "if [ ! -d sysconfcpus/bin ];\nthen\n  git clone https://github.com/obmarg/libsysconfcpus.git;
  \n  cd libsysconfcpus;\n  ./configure --prefix=$TRAVIS_BUILD_DIR/sysconfcpus;\n
  \ make && make install;\n  cd ..;\nfi\n"
before_script:
    - npm install -g elm elm-test
    - npm install -g firebase-tools

script: $TRAVIS_BUILD_DIR/sysconfcpus/bin/sysconfcpus -n 2 elm-test

after_success:
    - echo "Starting pre-deploy"
    - mkdir $TRAVIS_BUILD_DIR/public 
    - $TRAVIS_BUILD_DIR/sysconfcpus/bin/sysconfcpus -n 2 elm package install -y
    - $TRAVIS_BUILD_DIR/sysconfcpus/bin/sysconfcpus -n 2 elm make $TRAVIS_BUILD_DIR/src/Main.elm --output=$TRAVIS_BUILD_DIR/public/javascript/main.js
    - cp $TRAVIS_BUILD_DIR/javascript/drive-api.js $TRAVIS_BUILD_DIR/public/javascript/drive-api.js
    - cp $TRAVIS_BUILD_DIR/html/public.html $TRAVIS_BUILD_DIR/public/index.html
    - ls $TRAVIS_BUILD_DIR/public
    - echo "Finished pre-deploy. Should have ls results in there."
    - echo "About to run"
    - firebase login:ci 
    - echo firebase deploy --project macacollins/cloud-vim --public public --only hosting --token "$FIREBASE_API_TOKEN"
    - firebase deploy --project macacollins/cloud-vim --public public --only hosting --token "$FIREBASE_API_TOKEN"
